a {
	text-decoration:none;
	
	&:hover {
		text-decoration:none;
	}
}
p a {
	color: $brand-teal;
}
#side-nav {
	li {

	}
	a {
		position: relative;
	}
}
#arrow {
	font-size: 40px;
	color: $brand-secondary;
	width: 100%;
	background: none;
	padding: 0px;


	@include media-breakpoint-up(md) { 
		width: auto;
	}
	&:hover {
		cursor: pointer;
		color: $brand-primary;
	}
}
#donateToggle {
	position: fixed;
	left: -30px;
	top: 388px;
	width: 100px;
	height: 52px;
	transform: rotate(90deg);
	z-index:10;
}
#searchToggle {
	position: fixed;
	left: -30px;
	top: 278px;
	width: 100px;
	height: 52px;
	transform: rotate(90deg);
	z-index:10;
	padding: 13px;
}
#donateModal {
	
	.share-container {
		display: none;
	}
	
}
#sectionModalToggle {
	position: fixed;
	right: -30px;
	top: 278px;
	width: 100px;
	height: 52px;
	transform: rotate(-90deg);
	z-index:10;
	padding: 13px;
}

#toTop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 900;
	font-size: 40px;
	display: none;
}
.collapse50 {
	height: 250px;
}
#arrow[aria-expanded="false"]  {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}
#arrow[aria-expanded="true"]  {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}
.article-toggle {

}
.navbar-toggle {
	.icon-bar {
		display: block;
		width: 24px;
		height: 4px;
		background-color: $brand-secondary;
		border-radius: 4px;
		margin: 5px;
	}
	&:hover {
		cursor: pointer;
	}
}
.btn-primary {
	color: $brand-primary !important;
	border-radius: 10px;
	padding: 0.7rem 1rem;
	background-color: #ffffff;
	@extend .align-self-end;
	width: 100%;

	@include media-breakpoint-up(sm) { 
			
		}

		@include media-breakpoint-up(md) { 
			
		}

		@include media-breakpoint-up(lg) { 

		}

		@include media-breakpoint-up(xl) { 
		}

	&:hover {
		color: #ffffff !important;
	}
}
.btn-secondary{
	color:  $brand-secondary !important;
	background-color: #ffffff;
	position: absolute;
	padding: 0.7rem 1rem;
	border: solid 1px $brand-secondary;

	&:hover {
		color: #ffffff !important;
		background-color:$brand-secondary;
	}
}

.read-more {
	background-image: url("../images/fingerprint.svg");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position:left center;
	padding-left: 35px;
	width: 75%;
	margin: 10px auto;
}
.oss_horizontal_share {
	margin: 10px;
}
.search-form .search-submit {
	border: solid $brand-lightGray 1px;
	padding: 8px 20px 10px;

	&:hover {
		cursor: pointer;
	}
}
.entry-summary {
	a {	
		@extend .btn; 
		@extend .btn-primary;
	}
}
.relative {
	position: relative;
}
#related-tags div p a, #related-articles div p a, #related-categories div p a {
	@extend .btn; 
	@extend .btn-primary;
}
.page-nav{
	height: 50px;
	margin-top: 20px;

	.current-page {
		background-color: $brand-primary;
	}
	.page-link {
		padding: 10px 15px;

		&:hover {
			background: none;

		}
	}
	a {	
		background-color: $brand-primary;
		padding: 10px 15px;
		color: #fff !important;
		margin: 0px 10px;

		&:hover {
			background-color: $brand-page-link;
		}
	}
}
.reply-links {

	a {

	}
}
// owl carousel buttons
.owl-prev, .owl-theme .owl-controls .owl-buttons div  {
	background-color: $brand-page-link;
	margin: 15px;
}
.owl-prev {
	left: -70px;
}
.owl-next {
	right: -70px;
}
.owl-buttons {
	width: 100%;
	position: absolute;
  	top: 35%;
}
.os-share-more-footer {
	display: none;
}
.single .main .btn-secondary {
	margin-top: 0px !important;
}

.carousel-link {
	height: 100%;

	&:hover {
	}
}
