// Search form
.search-form {

  margin-top: 10px;

}
.search-form label {
  font-weight: normal;
  @extend .form-group;
  float: left;
}

.search-form .search-field {
  @extend .form-control;
  color: $brand-title;
  border-radius: 4px 0px 0px 4px;
}
.search-field  {
  
  &::after[placeholder="Search ..."] {
    content:"";
  }

}
.screen-reader-text {
  color: $brand-title;
}
.search-form {
  
  label {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px 0px 0px 4px;
    @include media-breakpoint-up(md) {       
    }
  }
}
.search-form .search-submit {
  @extend .btn;
  @extend .fa;
  @extend .fa-search;
  @extend .btn-secondary;
  position: relative;
  width: 100%;
  height: 38px;
  border-radius: 0px 4px 4px 0px;
  background-color: $brand-page-link;
  color: #fff !important;

    &:hover {
      background-color: $brand-secondary;
    }

   @include media-breakpoint-up(md) {   
    }
}
.wpcf7-form-control-wrap, select {
  width: 100%;
}
input, label, .wpcf7-form-control {
  width: 100%;
}
input, .wpcf7-textarea, select {
  border: 1px solid $brand-secondary !important;
}
label {
  color: $brand-secondary;
}
.wpcf7-submit {
  @extend .btn;
  @extend .btn-primary;
} 
