// Grid system
.container {
  max-width: 1920px;
  width: 85%;
  margin: 0 auto;
}
.main {
  @include make-col-ready();
  @include media-breakpoint-up(xl) {

    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }

  }
}
.sidebar {

  @include make-col-ready();
  @include media-breakpoint-up(xl) {
    @include make-col($sidebar-sm-columns);
  }
}
.full-height {
  min-height: 100vh;
  margin-top: 10px;
}
// container holders
.area {
  padding: 10px;
  position: relative;
  padding-bottom: 50px;  
}
// bootstrap overrides
.row {
  width: 100%;
  margin: 0px;
}

// matchHeight 
.box {
  height: auto !important;
}

.card {
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.card-columns {
  column-count: 1;
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
}
#tagBox {
  border: solid 1px $brand-lightGray;
  padding: 15px;
  margin: 5px;

}
#arrowToggleHolder {
  
}