body {
	position: relative;
	font-size: 0.9rem;
}
img {
	width: 100%;
	height: auto;
}
a {
	color: $brand-primary;
}
#homeBGImg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	overflow:hidden;

	img {
		height: 100%;
		width: auto;
		z-index: 0;
		border-right: solid 5px $brand-primary;
	}
}
.relative {
	overflow: hidden;
}
.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.area-title {
	padding: 5px 10px;
	font-weight: lighter;
	color: $brand-primary;

}
.references {
	color: #fff;
}
.entry-summary {
	margin-bottom: 10px;
}
#bgThumbnail {
	img {
	 	width: 100%;
	 	height: auto;

		@include media-breakpoint-up(lg) { 
			height: 350px;
	 		width: auto;
		}
	}
}
#tagTitle {
	padding: 15px 5px;
	font-size: 1rem;
	color: #fff;
	font-weight: lighter;
	margin: 0px;
}
#tagRow {
	border-bottom: 1px solid $brand-primary;
	margin-bottom: 10px;
	margin-left: 0px;
}
#arrowToggleHolder {
	margin-top: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex: 1;
}
.area_title {
	margin-bottom: 10px;
}
.sub_area_title {
	padding: 5px 10px;
	background-color: $brand-secondary;
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
}
.entry-title {
	font-weight: lighter;
	border-bottom: 1px solid $brand-primary;
	text-align: center;
	padding: 20px;
}
.avatar {
	@extend .rounded-circle;
}
.post-count {
	background-color: $brand-title;
	width: 80px;
	height: 80px;
	font-size: 3rem;
	display: block;
	text-align: center;
	color: #fff;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
	border: 2px solid #fff;
	border-radius: 50%;
}
.background-logo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 200px;
	height: auto;
	 -ms-transform: rotate(-18deg); /* IE 9 */
    -webkit-transform: rotate(-18deg); /* Chrome, Safari, Opera */
    transform: rotate(-18deg);
}
.relative {
	position: relative;
}
.byline  {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.area-divider {
	background-image: url("../images/line-grey.svg");
	background-repeat: repeat-x;
}
.cat-title{
	text-align: center;
	border: 1px solid white;
	padding: 5px;

	h3 {
		text-align: center;
		background-color: $brand-category-link;
		padding: 5px;
		color: white;
		margin: 0 auto;
		height: 100%;
		font-weight: lighter;
	}

}
.count-container {
	
	
	@include media-breakpoint-up(lg) { 
		display: block;
		right: 0%;
		position: absolute;

	}
}
.card-title {
	border-bottom: 1px solid $brand-primary;
	color:  $brand-primary;

	a {
		width: 100%;
		color:  $brand-primary;
	}
	p {
		margin-bottom: 0px;
	}
	h3 {

	}
}
#sexy-author-bio {
    width: 100%;
    background-color: #fff !important;
}
dl, ol, ul {
    width: 100%;
}
.authorAvatar {
	max-width: 100px;
	border: 1px solid $brand-primary; 
	border-radius: 50%;
}
.rd_category_list_plugin_box {
	padding-bottom: 10px;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    cursor: default;
    background-color: $brand-secondary;
    color: white !important;
}

.fa-address-book, .fa-pencil, .fa-question-circle-o, .fa-handshake-o, .fa-youtube, .fa-facebook-official, .fa-money{
	font-size: 170px;
	text-align: center;

}
.owl-next, .owl-prev {
	.fa {
		color: #fff;
	}
}
.fa {
	color: $brand-primary;
}
.text-center {
	text-align: center;
}
