// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #ff6633;
$brand-secondary:       #009999;
$brand-page-link: 		#009999;
$brand-title: 			#6699cc;
$brand-category-link: 	#003333;
$brand-tag-link: 		#006666;
$brand-hover: 			#336633;
$brand-footer: 			#66cc99;

$brand-pink: 			#ff99ff;
$brand-green: 			#99cc66;
$brand-yellow: 			#ffcc00;
$brand-lightGreen: 		#99ff99;
$brand-teal: 			#009999;
$brand-darkGreen: 		#003333;
$brand-blue: 			#0099ff;
$area-bg:				rgba(0,102,102,0.4);
$brand-purple:			#9999ff;
$brand-lightGray:		#cccccc;
$brand-veryLightGray:	#dddddd;
$brand-darkGray:		#666666;
// Fonts

