
.content-info {
	background-color: lightGrey;
}
#footer-sidebar {

	.widget {
	}
}
.footer {
	p, a, h1, h2, h3, h4, h5 {

	}
	.row {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 0px;
	}

	.btn-secondary {
		position: relative;
	}
	a{
		@extend .btn; 
		border: none;
	}
	.logo-container {
		max-width: 200px;
		margin: 0 auto;
		.logo {
			background: none;
		}
	}
}
