.header {
	position: relative;
}
// bootstrap overrides
.banner {
	border-bottom: 3px solid $brand-secondary;
	background-color: #ffffff;
	margin-bottom: 10px;

	.row {
	  margin: 0 auto;
	  border-bottom: 0px;
	}
	h2 {
	    
	}
	.logo-container {
		padding: 0%;

		a {
			height: auto;
			margin: 0 auto;
			display: block;
			background-color: rgba(0,0,0,0);
			width: 200px;

			&:hover {
				background-color: rgba(0,0,0,0); 
			}
		}
	}
	.logo {
		margin: 0 auto;

		@include media-breakpoint-up(xl) { 
			max-width: initial;

		}
	}
}

.site-description {
	font-size: 0.9rem;
	text-align: center;
	font-weight:  lighter;
	background-color: $brand-secondary;
	padding: 4px 4px 6px 4px;
	margin-top: 10px;
	color: white;


	@include media-breakpoint-up(md) { 
		font-size: 1rem;
	}

	@include media-breakpoint-up(lg) { 
		font-size: 1.25rem;
	   
	}

	@include media-breakpoint-up(xl) { 
		font-size: 1.5rem;
	}
}

.navbar-header {
	position: absolute;
	top: 10px;
	left: 10px;
}
.navbar {
	padding: 0px;
	position: initial;
}
.navbar .collapse {
	
	@include media-breakpoint-up(md) { 
		display: block;
	}
}

.navbar-toggle {
	text-align: center;
	border-radius:	4px;
	color: $brand-primary;
	border: 1px solid $brand-secondary;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;

	@include media-breakpoint-up(md) { 
		display: none;
	}
}

.side-nav-button {
	position: fixed;
	right: 10px;
	top: 10px;
}

.navbar-nav, .navbar-toggle-sidebar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;


  	justify-content: space-around;
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	@include media-breakpoint-up(lg) { 

	}
	ul {
		list-style: none;
	}
	li {
	 	text-align: center;
	 	word-break: keep-all;
	 	width: auto;
	 	padding-left: 0px;
	 	padding-right: 0px;
	 	margin: 3px 1px 0px 1px;

		a {
			display: block;
			height: 34px;
			@extend .align-middle;
			background: #fff;
			color:  $brand-secondary;
			padding-left: 5px;
			padding-right: 5px;
			width: 100%;

			&:hover {
				background-color: rgba(0,0,0,0); 
				color: $brand-page-link;
			}
		}
	}
}

.cat-item {
	text-align: center;
	background-color: blue;
	color: white;
	padding: 4px;
	a {
				
	}
}