// homepage
body, p, h1, h2, h3, h4, h5, h6 {
	color: $brand-darkGray;
}

#homepage-nav-holder {
	padding: 10px;
	

	.homepage-nav {
	@extend .box;

		ul {
			padding: 0;
	    	list-style-type: none;
	    	@extend .box;
	    	@extend .row;

			li {
				@extend .col-6;
				@extend .align-middle;
				margin-top: 10px;
				margin-bottom: 10px;

				a {
					@extend .align-middle;
					@extend .btn;
					@extend .btn-primary;
					display: block;
					text-align: center;
					color: $brand-lightGray;
					padding-top: 10%;
					padding-bottom: 10%;
					font-size: 1.4rem;
					position: relative;


					&:hover {
						background-color: $brand-hover;
					}
				}
			}	
		}
	}
}
#homepage-container {

	position: relative;
	margin-bottom: 10px;

	.page-header  {
		
		.cat-title {
			color: $brand-teal;
		}
	}
	.cat-title {
		border: 1px solid white;
		padding: 10px;
		box-shadow: 0 0 0 1px;
		background-color: rgba(255,255,255,0.7);

		h1 {
			text-align: center;
			padding: 5px;
			color: white;
			margin: 0 auto;
			
		}
	}
	#homeTitle {

	}
	#homeContent {
		background-color: rgba(255,255,255,0.8);
		z-index: 1;
		padding: 10px;
		overflow: hidden;

		h1, h2, h3, h4, h5 {
			font-weight: lighter;
		}
		span {
			font-weight: lighter;
		}
	}
	#homepage-content {
		padding: 50px;
		outline: 1px solid lightGrey;
		margin-bottom: 10px;
		overflow: hidden;

		.oss_horizontal_share {
	  		display: none;
		}
		.area-title {
		}

		#homeContent {

		}
	}

}

#subject-categories {
  display: block;
  position: relative;
}

#subject-categories::after {
  	content: "";
 	background-color: $white;
	background-image: url("../images/mother-child-004-fullsize.jpg");
	background-size: cover;
  	opacity: 0.5;
  	top: 0;
  	left: 0;
 	bottom: 0;
 	right: 0;
  	position: absolute;
  	z-index: -1;   
}
#subject-categories {
	
	padding: 10px;

	.cat-title {
	}

	.items {
		padding-bottom: 10px;
		margin-bottom: 40px;

	}
}
#latest-articles {
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;

	.btn-primary {
	}
	.category-tags-holder {
		display: flex;
		flex-direction: column;

		.category-holder {
			display: flex;
			flex-direction: column;
			color: $brand-secondary;
			flex: 1;

			.category-holder-title {
				font-weight: 700;
				font-size: 1rem;
				flex: 1;
			}

			.category {
				flex: 1;
			}
		}

		.tags-holder {
			display: flex;
			flex-direction: column;
			color: $brand-secondary;
			flex: 1;
			
			.tags-holder-title {
				font-weight: 700;
				font-size: 1rem;
				flex: 1;
			}

			.tag {
				flex: 1;
			}

		}

		@include media-breakpoint-up(sm) {
			flex-direction: row;
		}
	}
}
#latest-articles::after {
  	content: "";
 	background-color: $white;
	background-image: url("../images/mother-baby-001-fullsize.jpg");
	background-size: cover;
  	opacity: 0.5;
  	top: 0;
  	left: 0;
 	bottom: 0;
 	right: 0;
  	position: absolute;
  	z-index: -1;   
}
#ask-area {
	padding: 10px;

	.btn-primary {
	}

	.ask-area {
		padding: 20px 15%;
	}
}
#participate-in-study::after {
  	content: "";
 	background-color: $white;
	background-image: url("../images/mother-child-003-fullsize.jpg");
	background-size: cover;
  	opacity: 0.5;
  	top: 0;
  	left: 0;
 	bottom: 0;
 	right: 0;
  	position: absolute;
  	z-index: -1;   
}
#participate-in-study {
	background-size: cover;
	padding: 10px;
	margin-bottom: 10px;

	.area-title{
	}
	img {

	}
	.btn-primary {
	}
	@include media-breakpoint-only(xl) {

		.items {
			border: 0px;
		    outline: 1px solid  rgba(0,0,0,0.2);
		    outline-offset: -4px;
		}

	}
}
.cat-title {
	background-color: #066;
	color: #fff;
	padding: 10px;
	font-size: 25px;
	width: 100%;
}
#social-area {
	@extend #participate-in-study;

}
#signUp {
	@extend #participate-in-study;

}
#social-area::after {
  	content: "";
 	background-color: $white;
	background-image: url("../images/pregnancy-001-fullsize.jpg");
	background-size: cover;
  	opacity: 0.5;
  	top: 0;
  	left: 0;
 	bottom: 0;
 	right: 0;
  	position: absolute;
  	z-index: -1;   
}
#donate-area {
	border-top: 1px solid $brand-lightGray;
	padding: 10px;
	.btn-primary {
	}
}
.latest-blog-posts {
	padding: 10px;
	h2 {
		font-weight: lighter;
		border-radius: 5px;

	.btn-primary {
	}
		color: #ffffff;
	}
}

#authors-area {
	padding: 10px;
	width: 100%;
	text-align: center;
	

	a {
		position: relative;
		width: 100%;
		margin: 0px auto;
		margin-top: 20px;
		padding: 5px;

	}

	.avatar  {
		width: 50%;
		margin: 2px 25%;
		max-width: 75px;
		
	}
}

// side homepage nav
#side-nav, #cat-nav {
	position: fixed;
	right: -2px;
	top: 240px;
	z-index: 100;
	display: none;

	@include media-breakpoint-up(md) { 
		display: block;
	}
	

	ul {
		li {
		 	list-style: none;
		 	text-align: center;
		 	margin-top: 15px;

		 	a {
		 		color: white;
		 		border-radius: 5px 0px 0px 5px;
		 	}
		 	img {
		 		width: 18px;
		 	}
		}
		.nav-item-foot-left, .nav-item-foot-right {
			width: 18px;
			height: auto;
		}
		.nav-item-foot-left {
			margin-left: 20%;
		}
		.nav-item-foot-right {
			margin-right: 20%;
		}
	}
}

.items {
	padding: 10px;
	background-color: rgba(255,255,255,1);
	display: block;
	position: relative;
	border: 0px;
    outline: 1px solid  rgba(0,0,0,0.2);
    outline-offset: -4px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 2px gray;
    transition-duration: 1s;
	transition-duration: all;


  	p {
  	}
}



// OWL CAROUSEL
.owl-wrapper {
	display: flex  !important;
	align-items: stretch;
}
.owl-carousel {
	width: 90%;
	margin: 0 auto;
}
.owl-carousel, .owl-carousel-articles {
	position: relative;


	.owl-controls {
	}
}
.owl-item {
	padding: 0 12px;
	position: relative;
	display: flex  !important;
	align-items: stretch;
	padding-bottom: 0px;
	
	.items {
	  	outline: none;
		border: 0px;
		flex: 1;
	  
	}
}
.home {
	.items {
		
		&:hover {
			transform: scale(1.02);
			box-shadow: 0px 1px 3px 1px gray;
		}
	}
}
.home  {
	.owl-item {		
		.items {
			background-image: url(../images/fingerprint.svg);
			background-size: 15%;
			background-repeat: no-repeat;
			background-position: 98% 98%;
		  
		}
	}
	.thumbnail {
		display: flex;
		justify-content: center;
		overflow: hidden;
		margin-bottom: 10px;
		border: 1px solid #eeeeee;

		img {
			height: auto;
			width: 100%;
			align-self: center;
			max-height: 270px;
		}
	}
}
.owl-theme .owl-controls .owl-buttons div {
	font-size: 30px;
	padding: 15px;
	position: absolute;
	z-index: 9;
}
.owl-theme .owl-controls .owl-page {
	margin: 5px 8px; 

	span {
		box-shadow:
	    0 0 0 10px hsl(15, 80%, 100%),
	    0 0 0 11px hsl(15, 80%, 80%);
	    background: $brand-title;
	    height: 16px;
	    width: 16px;
	   }
}

.area-img {
	height: 250px;
}
.panel {
   display: flex;
   flex-direction:column;
   align-content:stretch; 
}
.panel-body {
   display: flex;
   flex-grow:1;
}

.archive {
	.owl-item {		
		.items {
		  
		}
	}

	.thumbnail {
		display: flex;
		justify-content: center;
		overflow: hidden;
		margin-bottom: 10px;
		border: 1px solid #eeeeee;

		

		img {
			height: auto;
			width: 100%;
			align-self: center;
			max-height: 270px;
		}
	}

	.card-header-text {
		display: flex;
		flex-direction: column;

		p, a {
			margin: 1px;
			padding: 4px;
			border: 1px solid $brand-lightGray;
			flex: 1;
			
		}
		a {
			color: $brand-primary;
		}
		span {
			color: $brand-secondary;
			font-weight: 600;
		}
		.card-title {
			a {
				border: none;
			}
		}

		.btn-secondary {
			position: relative;
		}

		.card-title {

		}	

		.card-date {
			display: flex;
			flex: 1;
		}

		.card-author {
			display: flex;
			flex-direction: column;
			flex: 1;

			a {
				flex: 2;
			}

			@include media-breakpoint-up(md) { 
				flex-direction: row;
			}
		}

		.card-id {
			display: flex;
			flex: 1;
		}
	}	
}
.single {
	.main {
		.btn-secondary {
			position: relative;
			margin-top: 15px;
			border-radius: 15px;
			font-size: 1rem;
		}
		h3 {
		font-size: 1rem;
		}

		#relatedTags, #relatedArticles, #relatedCategories,  #bodySidebar  {
			margin-top: 10px;


			p {
				background-color: rgba(255,255,255,0.8);
			}
			p, h4 {
				padding: 10px;

			}
			h4 { 
				font-size: 1rem;
			}
			
		}
		#tagTitleHolder {
			display: flex;
			align-content: center;
			justify-content: center;
			border-top: 0px;
			background-color: $brand-secondary;
			flex: 4;
		}
		#articleReference {
			display: flex;
			align-content: center;
			justify-content: center;
		}
		#collapseReference {

			.reference-description {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
.authors, .page-template-template-authors {
	.oss_horizontal_share {
		display: none;
	}
}
#education {

}
#signUp {
	background-color: lightGrey;
	margin-bottom: 10px;
}
#articleReference {

	#tagTitleHolder {

		#tagTitle {
			color: #fff;
		}
	}
}