.sidebar {

 	.area-title {
 		 margin-bottom: 10px;
 		 padding: 10px;
 		 color: #fff;
 	}
	.btn-secondary {
		position: relative;
	}
	.rd_category_list_plugin_box {
		div {

		}
		.btn-secondary {
			width: 100%;
			bottom: 0px;
			margin-top: 6px;
		}
	}
	h4 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.rd_page_selector_plugin_box {
	@extend .col-3;

	.col {

	}
}
.rd_page_selector_Categories_plugin_box {
	background-color: lightGrey;
}
.rd_latest_post_selector_posttype_plugin_box {
	background-color: lightGrey;
}
.widget {
	padding: 10px;
	border-bottom: 1px solid $brand-primary;
	margin-bottom: 10px;
}
